*{
  padding: 0;
  margin: 0;

}

html,body{
  background-color: rgb(232, 232, 232);
  color: rgb(0, 0, 0);
  width: 100%;
  height: 10vh;
}

.parent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  height: 420px;
  width: 250px;
  margin: 20px;
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: azure;
  border: 1px solid rgb(218, 216, 216);
  display: flex;
  flex-direction: column;
  align-content:space-around ;
}

.card .top{ 
  border-radius: 30px;
  margin: 6px; 
}
.card .top img{
  height: 240px;
  width: 238px;
  border-radius: 30px;
  
  
}
.card .center{

  padding: 5px 40px 0px 0px;
}
.card .center h1{
  color: #101010;
font-size: 20px;
font-weight: 600;
margin: 10px 0px 5px 20px;
display: flex;
align-items: center;
gap: 8px;
}
.card .center h1 img{
  height: 20px;
  
}
.card .center p{
font-size: 14px;
font-weight: 400;
color: #6d6d6d;
margin: 10px 0px 5px 20px; 
}
.card .bottom{
  height: 50px;
  margin: 20px 12px 5px 16px;
  font-size: 14px;
  display: flex;
  color: #5a5a5a;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: #dcbebe; */
  
}
.card .bottom .followers{
display: flex;
align-items: center;
height: 20px;
padding-left: 8px;
gap: 5px;
}

.card .bottom .collection{
display: flex;
align-items: center;
height: 20px;
gap: 6px;
}

.card .bottom button{
  height: 35px;
  width: 90px;
  border-radius: 30px;
  border: none;
  background-color: #00ff22;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  font-family:sans-serif ;

}